@import url("https://fonts.googleapis.com/css?family=Fira%20Sans+Condensed");

body,
html {
  margin: 0;
}

label {
  font-size: large;
}

input {
  width: 200px;
}

h3 {
  font-size: large;
  font-family: 'Fira Sans Condensed', sans-serif;
}

p {
  font-size: medium;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.searches {
  color: #A170EE;
  font-weight: 600;
  font-style: italic;
}

.mainBody {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 30px
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}